/*common shared style*/
.body{
    font-family: 'Merriweather', serif;
}

/*banner style*/
.banner{
    padding: 233px;
   
background-image: url('../resources/Banner\ Image.png');
background-repeat: no-repeat;
width: 1320px;
height: 600px;
border-radius: 16px;
margin: 50px 140px;
}
.banner-tytle{
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;

}
.banner-description{
    color: #FFF;

text-align: center;
font-size: 72px;
font-weight: 900;
}
